# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go build command
/build/
/bin/
/out/

# Dependency directories (optional)
vendor/

# Go workspace file
go.work

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

README.md